<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Show</title>
</head>
<body>
    <a class="btn btn-primary" href="http://127.0.0.1:5000/dashboard/{{x}}" role="button" id  ='login'>TVShows</a>
    <a class="btn btn-outline-danger" href="http://127.0.0.1:5000/" role="button" id="logout">Logout</a>
    <div id="box3" class="bg-dark">
        <h1>Add a new show</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; font-weight: bold;">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/add_site" method="POST">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Title</span>
                <input type="text" class="form-control" name="title">
            </div>
            <br>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" >Network</span>
                <input type="text" class="form-control" name= 'network'>
            </div>
            <br>
            <div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" >Release Date</span>
                    <input type="date" class="form-control" name="release">
                </div>
            </div>
            <br>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" >Description</span>
                <input class="form-control" name="description">
            </div>
            <div>
                <span></span>
            </div>
            <input type="hidden" value="{{x}}" name="user_id">
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</body>
</html>